*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    width: 99vw;
    height: 99vh;
}

#cadastro{
    padding: 30px;
    background: linear-gradient(10deg, #00fa9a, #7fa8ff);
    border: 0px solid red;
    width: 100vw;
    height: 100vh;
    
}

h1.titulo{
    margin-bottom: 30px;
    text-align: center;
    color: #000000;
    font-size: 2em;
}

#formCadastro{
    margin: 0 auto;
    width: 800px;
    height: 450px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.678);
}

#formCadastro form{
    border: 0px solid red;
    height: 100%;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nome-cpf, .email-idade, .senhas{
    border: 0px solid red;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#formCadastro form input{
    display: block;
    width: 230px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: gainsboro;
    border-radius: 10px;
    padding: 4px;
    font-size: 1.2em;
    margin-top: 5px;
}

#formCadastro form label{
    display: block;
    font-size: 1.2em;
}

.divButton{
    border: 0px solid rgb(0, 0, 0);
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.divButton span a{
    color: black;
}

.btn-cadastro{
    font-size: 1.1em;
    width: 230px;
    padding: 5px;
    border-radius: 10px;
    color: #7fffd4;
    border: 3px solid rgb(0, 0, 0);
    background-color: black;
}

.btn-cadastro:hover{
    color: #AFEEEE;
    border: 3px solid #AFEEEE;
    background-color: black;
    cursor: pointer;
    transition: .5s;
}

@media screen and (max-width: 850px){
    #formCadastro{
        width: 100%;
    }

    #formCadastro form input{
        width: 220px;
    }

    .btn-cadastro{
        width: 200px;
    }

    .nome-cpf, .email-idade, .senhas{
        width: 100%;
        column-gap: 60px;
        justify-content: center;
        align-items: center;
    }

    .divButton{
        width: 100%;
        column-gap: 85px;
        justify-content: center;
    }
}

@media screen and (max-width: 640px){

    h1.titulo{
        font-size: 1.7em;
    }

    #cadastro{
        height: auto;
        padding: 20px;
    }

    #formCadastro{
        height: auto;
        padding: 40px 0px;
    }

    .nome-cpf, .email-idade, .senhas{
        width: 100%;
        flex-direction: column;
        row-gap: 20px;
    }

    .divButton{
        width: 100%;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

}

@media screen and (max-width: 420px){

    h1.titulo{
        margin-bottom: 0px;
    }

    #formCadastro{
        padding-top: 30px;
        box-shadow: 0px 0px 0px 0px;
    }

}

@media screen and (max-width: 320px){

    h1.titulo{
        font-size: 1.4em;
        margin: 0px;
    }

    #formCadastro{
        padding-top: 30px;
        box-shadow: 0px 0px 0px 0px;
    }
   
    #formCadastro form input{
        width: 150px;
        padding: 2px;
        font-size: 1em;
    }

    #formCadastro form label{
        font-size: 1em;
    }

    .btn-cadastro{
        width: 150px;
    }

    .divButton span {
        text-align: center;
    }

    .divButton span a{
        padding: 0px 5px;
    }

}