body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: rgb(216, 221, 219);
}

#login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 30px;
}

#typewriter{
    width: 50%;
    height: 100%;
    background: linear-gradient(50deg, #11ad71, #7fa8ff);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 0px;
}

.titulo{
    margin-top: 50px;
    width: 270px;
    height: 260px;
}

.titulo h1{
    text-align: center;
    font-size: 2.5em;
    border: 0px solid red;
    margin: 0px;
    color: #00ff55;
}

.logo{
    border: 0px solid red;
    margin: 0px auto;
    width: 180px;
    height: 200px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.textTypewriter {
    text-align: center;
    font-size: 3em;
    color: white;
}

#formLogin{
    border: 0px solid black;
    height: 300px;
    width: 40%;
}

#formLogin form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 20px;
    height: 300px;
    border: 0px solid red;
}

#formLogin form label{
    font-size: 1.5em;
}

#formLogin form input{
    width: 230px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2em;
    margin-top: 5px;
}

#formLogin span a{
    color: black;
}

button.btnLog{
    width: 240px;
    padding: 9px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #7fa8ff;
    margin-top: 10px;
}

button.btnLog:hover{
    cursor: pointer;
    transition: .5s;
    color: #7fa8ff;
    border: 1px solid #7fa8ff;
    background-color: white;
}