body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(10deg, #00fa9a, #7fa8ff);
}

.header {
    margin-bottom: 20px;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#transferForm {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#transferForm label,
#transferForm input {
    display: block;
    margin-bottom: 10px;
}

#transferButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.transferButton {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.transferButton:hover {
    background-color: #45a049;
}