*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    padding: 15px;
    background: linear-gradient(50deg, #11ad71, #7fa8ff);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color: #00ff55;
}

.conta, 
.saldo{
    font-size: 1.3em;
    color: white;
}

section.boasVindas{
    padding: 10px 0px;
}

section.boasVindas h1{
    padding: 10px;
}

ul{
    list-style: none;
    padding: 0;
    width: 300px;
    margin: 0 auto;
}

li{
    text-align: center;
    font-size: 1.2em;
    padding: 6px;
}

button{
    padding: 5px 10px;
    display: block;
    margin: 10px auto;
}

a{
    text-decoration: none;
    color: black;
}

button:hover{
    cursor: pointer;
}