*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    padding: 15px;
    background: linear-gradient(50deg, #11ad71, #7fa8ff);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #ffffff;
    background: linear-gradient(20deg, #010b22a2, #11ad71bd);
    border-radius: 50px;
    width: fit-content;
    padding: 10px 20px; 
}

#container{
    background-color: #E0FFFF;
    min-height: 100vh;
}

.conta, 
.saldo{
    font-size: 1.3em;
    color: white;
    background: linear-gradient(20deg, #010b227c, #11ad717c);
    border-radius: 50px;
    width: fit-content;
    padding: 10px 20px;
}

section.boasVindas{
    padding: 20px 0px;
}

section.boasVindas h1{
    text-align: center;
    padding: 10px;
}

section.servicos {
    display: flex;
    border: 0px solid black;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 20px;
}

section.servicos div{
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 350px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    row-gap: 100px;
    padding: 20px;
    border-radius: 20px;
}

section.servicos div:hover{
    background: linear-gradient(50deg, #11ad71, #7fa8ff);
    transition: 0.7s;
    transform: scale(1.1);
    cursor: pointer;
}

.icon{
    margin-top: 100px;
    font-size: 8em;
    color: #2ea85d;
    color: black;
}

.deposito h1,
.transferencia h1,
.saque h1{
    text-align: center;
}

ul{
    display: none;
    list-style: none;
    padding: 0;
    width: 300px;
    margin: 0 auto;
}

li{
    text-align: center;
    font-size: 1.2em;
    padding: 6px;
}

button{
    padding: 5px 10px;
    display: block;
    margin: 10px auto;
}

a{
    text-decoration: none;
    color: black;
}

button:hover{
    cursor: pointer;
}

.logout button {
    background-color: #28a745; /* Cor verde */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.logout button:hover {
    background-color: #218838; 
    transform: scale(1.05); 
    cursor: pointer;
}



@media screen and (max-width: 850px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .conta, 
    .saldo {
        font-size: 1em;
    }

    section.servicos {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 10px;
    }

    section.servicos div {
        width: 90%;
        height: auto;
        padding: 15px;
        row-gap: 50px;
    }

    .icon {
        font-size: 6em;
    }
}

@media screen and (max-width: 640px) {
    header h1 {
        font-size: 1.5em;
        padding: 5px 10px;
    }

    .conta, 
    .saldo {
        font-size: 0.9em;
    }

    section.servicos div {
        width: 100%;
        padding: 10px;
    }

    .icon {
        font-size: 5em;
    }
}

@media screen and (max-width: 420px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 1.2em;
        padding: 5px 10px;
    }

    .conta, 
    .saldo {
        font-size: 0.8em;
    }

    section.boasVindas h1 {
        font-size: 1.2em;
    }

    section.servicos div {
        width: 100%;
        padding: 10px;
    }

    .icon {
        font-size: 4em;
    }
}
