<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastrar.css">
    <title>Document</title>
</head>
<body>
    
    <h1 id="titulo" >Seja bem vindo a pagina de cadastro</h1>

    <form action="">

        <div>
            <label for="">Nome</label>
            <input type="text">
        </div>

        <div>
            <label for="">CPF</label>
            <input type="text">
        </div>

        <div>
            <label for="">Idade</label>
            <input type="text">
        </div>

        <div>
            <label for="">Senha</label>
            <input type="text">
        </div>

        <div>
            <label for="">Confirmar Senha</label>
            <input type="text">
        </div>

    </form>

    <a th:href="@{/}">Voltar para area de login</a>

</body>
</html>